.contact-section{
    width: 100%;
    padding: 50px 10vw;
    min-height: 60vh;
    color: var(--black-color);
}

.contact-section .heading{
    text-transform: capitalize;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 50px;
}

.contact-wrapper{
    width: 90%;
    height: 100%;
    display: flex;
    margin: auto;
    align-items: flex-end;
}

.contact-details{
    width: 40%;
    height: 300px;
    background: var(--dark-color);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 30px;
    text-transform: capitalize;
    padding-left: 60px;
}

.contact-details p{
    margin-top: 10px;
}

.contact-details p span{
    display: block;
    margin-left: 30px;
}

.form{
    width: 60%;
    height: auto;
    background: var(--secondary-color);
    padding: 30px;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    position: relative;
}

.form label,
.form input,
.form textarea{
    display: block;
}

.form label{
    text-transform: capitalize;
    margin: 5px 0;
}

.form input, .form textarea{
    margin-bottom: 20px;
    height: 30px;
    width: 100%;
    background: none;
    border: none;
    padding: 0 10px;
    border-bottom: 1px solid var(--black-color);
}

.form input:focus, .form textarea:focus{
    outline: none;
}

.form textarea{
    height: 200px;
    border: 1px solid var(--black-color);
    resize: none;
    padding: 10px;
}

.submit-btn{
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    padding: 5px 20px;
    border-radius: 20px;
    border: none;
    background: var(--dark-color);
    cursor: pointer;
    color: var(--black-color);
    text-transform: capitalize;
}

.copyright{
    background: var(--black-color);
    color: var(--primary-color);
    text-align: center;
    text-transform: capitalize;
    width: 100%;
    padding: 5px 0;
}

.copyright::selection{
    background: var(--primary-color);
    color: var(--black-color);
}

/* media query */

/* tab view */

@media (max-width: 996px){
    .contact-section{
        padding: 0 10vw;
    }
    .contact-wrapper{
        width: 60%;
        min-width: 300px;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        margin: 10px;
    }
    .contact-details{
        width: 100%;
        height: auto;
        border-top-left-radius: 0;
        border-bottom-right-radius: 20px;
    }
    .form{
        width: 100%;
        border-bottom-right-radius: 0;
    }
    .submit-btn{
        box-shadow: 0 0 1px 5px var(--secondary-color);
    }
}